@charset "utf-8";

@-moz-document url-prefix() {

    #backgroundWelcomeKanji {
			top: 100px;
			}

		#backgroundComposeKanji {
			top: 1800px;
			}

		#backgroundInstructionsKanji {
			top: 1000px;
			}

		#backgroundReadKanji {
			top: 45px;
		}
}

body {
	margin: 0px;
	font-family: 'PT Sans', sans-serif;
	box-sizing: border-box;
}

input {
	height: 25px;
  width: 415px;
}

button {
	border-style: solid;
	margin-left: 30px;
	height: 45px;
	width: 115px;
	font-size: 15px;
	background-color: inherit;
	color: white;
	letter-spacing: 1px;
	border-color: white;
}

ul {
	list-style-position: inside;
	padding-left: 0px;
}

li {
	margin: 20px;
}

.inactive {
	color: #949393;
	border-color: #949393;
}

.wholeShebang {
	color: white;
	padding: 10px;
	background-color: #0d3838;
  margin-left: auto;
  margin-right: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.wholeShebangWrapper {
	position: relative;
}

.wholeShebangButtons {
	text-align: center;
}

.postedTitleData {
	font-size: 60px;
	text-align: center;
	margin: 0px;
}

.postedAuthor {
	font-size:15px;
	text-align: center;
}

.postedHaiku {
	text-align: center;
	font-size: 25px;
}

.postedHaikuLineOne {
	margin-bottom: 0px;
}

.postedHaikuLineTwo {
	margin-top: 10px;
	margin-bottom: 0px;
}

.postedHaikuLineThree {
	margin-top: 10px;
}

.backgroundReadKanji {
	text-align: center;
	margin: 0px;
	color: white;
	opacity: .03;
	font-size: 321px;
	position: absolute;
	padding: 0px;
	width: 98%;
	margin-top: -47px;
}

.voteCount {
	font-size: 14px;
	text-align: center;
}

.vote {
	margin-left: 0px;
	z-index: 2;
	position: relative;
}

.hidden {
	display:none;
}

#container {
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 0PX;
	grid-template-areas:
	"welcome"
	"instructions"
	"composition"
	"log";
}

#welcomeName {
	padding-top: 190px;
	color: white;
	text-align: center;
	font-size: 70px;
	margin-bottom: 0px;
	margin-top: 0px;
}

#welcomeWrapper {
	position: relative;
	z-index: 2;
	height: 100%;
}

#welcome {
	grid-area: welcome;
	height: 900px;
	background-color: #3d138a;
}

#welcomeButtonWrapper {
	display: flex;
	justify-content: space-between;
}

#backgroundWelcomeKanji {
	text-align: center;
	margin: 0px;
	color: white;
	opacity: .09;
	font-size: 706px;
	position: absolute;
	padding: 0px;
	width: 100%;
	margin-top: -107px;
}

#instructionsWelcome {
	font-size: 19px;
  text-align: center;
  color: white;
	margin-bottom: 44px;
}

#welcomeComposeButton, #welcomeHowToButton {
	display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  height: 70px;
  width: 300px;
}

#instructions {
	grid-area: instructions;
	background-color: #542e98a3;
}

#instructionsWrapper {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
	font-size: 18px;
	box-sizing: border-box;
	margin: 0px;
	position: relative;
}

#backgroundInstructionsKanji {
	text-align: center;
	margin: 0px;
	color: white;
	opacity: .06;
	font-size: 706px;
	position: absolute;
	padding: 0px;
	width: 100%;
	margin-top: -125px;
}

#instructionsTitle{
	font-size: 40px;
	text-align: center;
	margin-top: 0px;
}

#structure {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#firstFive, #firstSeven, #secondFive {
	font-size: 48px;
}

#composition {
	grid-area: composition;
	text-align: center;
	background-color: #003f80;
}

#compositionFormTitle {
	margin-top: 0px;
}

#compositionWrapper {
	font-size: 20px;
	color: white;
	width: 100%;
	display: inline-block;
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
}

#compositionWrapperTitle {
	font-size: 40px;
	margin-top: 0px;
	margin-bottom: 10px;
}

#backgroundComposeKanji {
	text-align: center;
	margin: 0px;
	color: white;
	opacity: .07;
	font-size: 706px;
	position: absolute;
	padding: 0px;
	width: 100%;
	margin-top: -109px;
}

#compositionForm {
  padding: 10px;
	text-align: left;
	display: inline-block;
}

#post {
	margin-top: 50px;
	width: 300px;
	height: 80px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#logWrapper {
	grid-area: log;
}



@media only screen
	and (min-device-width:	319px)
	and (max-device-width: 736px) {

		#container {
			display: grid;
			grid-template-areas:
			"welcome"
			"instructions"
			"composition"
			"log";
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
		}


		input {
			width: 657px;
    	height: 100px;
    	font-size: 40px;
		}

		button {
			font-size: 40px;
			height: 85px;
			width: 260px;
			border-width: 5px;
		}

		li {
			margin: 90px;
		}

		p {
			font-size: 45px;
			margin-bottom: 15px;
		}

		.backgroundReadKanji {
			margin-left: -11px;
		}

		.backgroundReadKanji {
			margin-top: 100px;
		}

		#welcome {
			height: 2200px;
		}

		#welcomeName {
			margin-top: 200px;
			margin-bottom: 200px;
		}

		#instructionsWelcome {
			font-size: 39px;
			margin-bottom: 200px;
		}

		#backgroundWelcomeKanji {
			font-size: 975px;
			margin-top: 87px;
		}

		#backgroundInstructionsKanji {
			margin-top: 425px;
		}

		#backgroundComposeKanji {
			margin-top: 400px;
		}

		#welcomeHowToButton, #welcomeComposeButton {
			font-size: 45px;
			height: 130px;
			width: 400px;
		}

		#post {
			margin-right: auto;
	    margin-left: auto;
	    margin-top: 116px;
	    width: 715px;
	    display: block;
			height: 150px;
		}

		#welcomeName {
			font-size: 92px;
		}

		#compositionForm {
			text-align: left;
			margin-top: 100px;
			margin-bottom: 100px;
		}

		#instructions{
			font-size: 40px;
		}

		#instructionsTitle {
			font-size: 85px;
		}

		#instructionsWrapper {
			padding-bottom: 0px;
		}

		#compositionWrapperTitle {
			font-size: 85px;
			margin-top: 100px;
		}

		#compositionWrapper {
			padding-bottom: 0px;
		}
}

@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1366px) {

		input {
			width: 600px;
    	height: 55px;
    	font-size: 20px;
		}

		button {
			font-size: 30px;
			height: 70px;
			width: 204px;
		}

		li {
			font-size: 22px;
		}

		p {
			font-size: 30px;
		}

		.label {
			margin-bottom: 5px;
		}

		#post {
			width: 500px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		#instructionsWelcome {
			font-size: 28px;
		}

		#container {
			display: grid;
			grid-template-areas:
			"welcome"
			"instructions"
			"composition"
			"log";
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
		}

		#compositionForm {
			text-align: left;
		}

		#instructions{
			font-size: 40px;
		}

		#instructionsTitle {
			font-size: 85px;
		}

}
