body {
	margin: 0px;
	font-family: 'PT Sans', sans-serif;
	box-sizing: border-box;
}

input {
	height: 25px;
  width: 300px;
}

button {
	background-color: inherit;
    color: #821122;
    border-radius: 0px;
    border-style: solid;
    height: 40px;
    border-color: #821122;
}

li {
	margin: 5px;
}

.inactive {
	color: #CCC;
	border-color: #CCC;
}

#container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 10fr 1fr;
	grid-column-gap: 0PX;
	grid-template-areas:
	"header header"
	"composition log"
	"footer footer";
	color: #333333;
}

#header {
	grid-area: header;
	background-color: #C59A6F;
	text-align: left;
}

#headerName {
	font-size: 30px;
	padding: 0px;
	padding-left: 10px;
}

#composition {
	grid-area: composition;
	background-color: #CCCCCC;
}

#log {
	grid-area: log;
	background-color: #CCCCCC;
}

#footer {
	grid-area: footer;
	background-color: #C59A6F;
}

#compositionForm {
  margin: 10px;
  padding: 10px;
  background-color: #FCFCFC;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.wholeShebang {
	padding: 10px;
	margin: 10px;
	background-color: #FCFCFC;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.wholeShebangButtons {
	text-align: center;
}

#post {
	margin-top: 20px;
	}

.postedTitleData {
	font-size: 25px;
}

.postedAuthor {
	font-size:15px;
}

.postedHaiku {
	text-align: center;
}

.voteCount {
	font-size: 14px;
}

#instructions {
	font-size: 17px;
	z-index: 2;
	position: fixed;
	background-color: white;
  padding: 10px;
  top: 25%;
  border: red;
  border-style: solid;
	box-sizing: border-box;
	width: 100%;
}

#instructionButtonWrapper {
	text-align: center;
}

#instructionButton {
	border-width: 2px;
  border-color: #821122;
  border-style: solid;
  height: 40px;
  color: white;
  background-color: #821122;

}

.hidden {
	display:none;
}

@media only screen
	and (min-device-width :	320px)
	and (max-device-width: 736px) {

		#container {
			display: grid;
			grid-template-areas:
			"header"
			"composition"
			"log"
			"footer";
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
		}

		input {
			width: 800px;
    	height: 100px;
    	font-size: 50px;
		}

		#compositionForm {
			text-align: center;
		}

		#instructions{
			font-size: 40px;
		}

		button {
			font-size: 30px;
		}

		p {
			font-size: 20px;
		}
}

@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1366px) {

		#container {
			display: grid;
			grid-template-areas:
			"header"
			"composition"
			"log"
			"footer";
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
		}

		input {
			width: 800px;
    	height: 100px;
    	font-size: 30px;
		}

		#compositionForm {
			text-align: center;
		}

		#instructions{
			font-size: 40px;
		}

		button {
			font-size: 30px;
		}

		p {
			font-size: 20px;
		}

}
